*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

@font-face{
  src: url("Poppins-Regular.ttf");
  font-family: poppins;
}

body{
  background: url("web-icon-background-computer-vector-icon-background_645658-707.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBg{
  width: 100%;
  height: 75vh;
  /* background: linear-gradient(45deg,#f06,#3cf);*/
  background: url("WhLiyU.png");
  background-size: cover;
  border-bottom-left-radius: 40px;
  color: white;
  border-bottom-right-radius: 40px;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
  overflow: hidden;
}

.formBox{
  padding: 20px;
  border: 2px solid ;
  border-radius: 15px;
  max-width: 390px;
  text-align: center;
  overflow: hidden;
  height: 400px;
  backdrop-filter: blur(5px);
  transition: all 1s;
}

.formBox.expand{
  height: 60px;
  max-width: 350px;
}

h2{
  margin-bottom: 20px;
  font-weight: 550;
}

input{
  padding: 15px;
  border: 2px solid white;
  border-radius: 15px;
  background: transparent;
  outline: none;
  color: white;
  margin-bottom: 20px;
}

.formBox ::placeholder{
  color: white;
}

button{
  padding: 13px;
  border: 2px solid white;
  border-radius: 15px;
  background: transparent;
  outline: none;
  color: white;
  margin-bottom: 20px;
  width: 325px;
}

a.forgotPassword{
  color: aqua;/* 
  position: relative;
  left: 70px;
  top: -15px; */
  float: right;
}

a{
  color: aqua;
}

button:active{
  background: white;
  color: black;
}

button.create{
  position: fixed;
  bottom: 40px;
  color: white;
  border: 2px solid #717DFF;
  background: #717DFF;
  font-size: 1em;
  left: 11%;
  width: 320px;
}

button.continue{
  border: 2px solid white;
  border-radius: none;
  background: #fff;
  font-size: 1em;
  width: 320px;
  height: 60px;
  color: black;
}

.create.remove{
  animation: animate_out .7s ease;
}

@keyframes animate_out{
  from{
    position: fixed;
    bottom: 40px;
    left: 11%;
  }
  to{
    position: fixed;
    bottom: 40px;
    left: 100%;
  }
}

.formBoxsignup{
  position: fixed;
  margin-top: 1550px;
  height: 500px;
  border: 2px solid #3cf;
}

.formBoxsignup input{
  color: #3cf;
  border: 2px solid #3cf;
}

.formBoxsignup button{
  color: #3cf;
  border: 2px solid #3cf;
}

.formBoxsignup a{
  color: #3cf;
}

.formBoxsignup ::placeholder{
  color: #3cf;
}

.formBoxsignup h2{
  color: #3cf;
}
